/* Page background */
.auth-page {
  min-height: 100vh;
  padding-top: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background: #C49012;
}

/* Card */
.auth-card {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;
  color: white;
  text-align: center;
}

/* Heading */
.auth-card h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

/* Form */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.auth-form input {
  padding: 14px 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
}

/* Button */
.auth-form button {
  margin-top: 10px;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #ffbe33;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.auth-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(255, 190, 51, 0.4);
}

/* Switch text */
.auth-switch {
  margin-top: 20px;
  font-size: 14px;
}

.auth-switch a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
